<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link href="css/mui.css" rel="stylesheet"/>
    <script src="js/mui.js"></script>
    <script src="js/pei_zhi.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/jquery.min.js"></script>
    <style>
        .fixed {
            position: fixed;
            left: auto;
            right: auto;
            z-index: 1;
        }

        .tuijian {
            margin: auto;
            width: 115px;
            left: 170px;
            top: 15px;
            text-align: center;
            position: absolute;
            z-index: 2;
        }

        .xuanze {
            margin: auto;
            width: 120px;
            left: 275px;
            top: 7px;
            text-align: center;
            position: absolute;
            z-index: 2;
        }
    </style>
</head>
<body style="line-height: 25px;">
<div id="app">
    <div class="fixed"><img src="bmp/277175920900915799.png" width="100%"
                            style="margin-bottom:-5px;">
        <div class="tuijian" @click="tuijian()"
             :style="colorType==0?'font-size: 22px;color: red':'font-size: 22px;background-color: #ffffff;color:black;margin: auto'">
            首页推荐
        </div>
        <div class="xuanze">
            <select :style="colorType==1?'font-size: 22px;color: red':'font-size: 22px;background-color: #ffffff;color:black;margin: auto'"
                    v-model="materialId">
                <option value="-1">材料选择</option>
                <option value="0">查看全部</option>
                <option :value="m.id" v-for="m in material">{{m.name}}</option>
            </select>
        </div>
    </div>
    <br/><br/>
    <div>
        <ul class="mui-table-view mui-grid-view">
            <li class="mui-table-view-cell mui-media mui-col-xs-6" v-for="a in alcoholList" @click="xuanze(a.id)">
                <img class="mui-media-object" :src="baseUrl+a.image">
            </li>
        </ul>
    </div>

</div>
<script>
    new Vue({
        el: " #app",
        data: {
            baseUrl: base_path,
            colorType: 0,
            alcoholList: [],
            selectIndex: 0,
            material: [],
            materialId: -1,
        },
        watch: {
            materialId(val) {
                if (val != -1) {
                    var vm = this;
                    vm.colorType = 1;
                    localStorage.materialId = val;
                    vm.getAllById();
                }
            },
        },
        created() {
            var vm = this;
            if (null == localStorage.boxTypeId) {
                localStorage.boxTypeId = 1;
            }
            $.post(base_path + "app/alcoholTemplate/getAll", {}, function (data) {
                if (data.code == 200) {
                    vm.alcoholList = data.obj;
                }
            })
            var vm = this;
            $.post(base_path + "app/material/findAll", {
                size: 1000
            }, function (data) {
                vm.material = data.obj.content;
            })
        },
        methods: {
            tuijian: function () {
                var vm = this;
                vm.colorType = 0;
                vm.materialId = -1;
                console.info("1")
            },
            xuanze: function (id) {
                console.info("TestData" + id)
            },
            getAllById: function () {
                var vm = this;
                $.post(base_path + "app/alcoholTemplate/findAllByMaterialId", {
                    materialId: localStorage.materialId,
                }, function (data) {
                    if (data.code == 200) {
                        vm.alcoholList = data.obj;
                    }
                });
            }
        }
    })
</script>
</body>
</html>