<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>白酒预览</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=0"/>
    <link href="css/mui.css" rel="stylesheet"/>
    <script src="js/vue.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/mui.js"></script>
    <script src="js/pei_zhi.js"></script>
    <style>
        @font-face {
            font-family: 阿里汉仪智能黑体;
            src: local("阿里汉仪智能黑体"),
            url("fonts/alihanyizhinengheiti.ttf") format("truetype");
        }

        @font-face {
            font-family: 方正字迹-吕建德行楷简体;
            src: local("方正字迹-吕建德行楷简体"),
            url("fonts/fangzhengziji.ttf") format("truetype");
        }

        @font-face {
            font-family: 汉仪家国宋W;
            src: local("汉仪家国宋W"),
            url("fonts/hanyijiaguosong.ttf") format("truetype");
        }

        @font-face {
            font-family: 个性印章;
            src: local("个性印章"),
            url("fonts/gexingyinzhang.ttf") format("truetype");
        }


        @font-face {
            font-family: 李旭科书法;
            src: local("李旭科书法"),
            url("fonts/lixukeshufa.ttf") format("truetype");
        }

        @font-face {
            font-family: 招牌字体;
            src: local("招牌字体"),
            url("fonts/zhaopaiziti.ttf") format("truetype");
        }

        @font-face {
            font-family: 正行楷简体;
            src: local("正行楷简体"),
            url("fonts/zhengxingkaijianti.ttf") format("truetype");
        }

        .alcoholList {
            margin: 5px auto;
            width: 500px;
            position: relative;
            text-align: center;
        }

        .alcoholList div {
            text-align: left;
            line-height: 1.5;
        }

        .shuiYin {
            margin: -670px auto;
            width: 600px;
            left: -175px;
            text-align: center;
            position: absolute;
        }
    </style>
</head>
<body style="background: #000000;">
<div id="app" class="mui-content mui-scroll-wrapper">
    <div style="background:black;"><img src="bmp/log1.jpg" width="100%" style="margin-bottom:-4px;"></div>
    <div class="alcoholList" v-for="(d,index) in alcoholList" v-if="showType==0?index==selectIndex:index==selectIndex1"
         @click="changeIndex1(1)">
        <input v-model="selectAlcoholIndex=d.id" hidden="hidden"></input>
        <img :src="baseUrl+d.image" width=" 500">
        <div v-bind:style="d.header1Style">{{alcoholName}}</div>
        <div v-bind:style="d.header2Style">{{alcoholName}}</div>
        <!-- <div v-bind:style="d.bodyStyle">{{info}}</div>  tutorialsImage-->
    </div>
    <div class="shuiYin">
        点击图片可变色彩
    </div>
    <p style="text-align: center;">
        <button style=" width: 140px;color: white;font-size: 40px;text-align: center;background-color: rgb(0, 0, 255);margin: 0px 1px;text-indent: 8px;"
                @click="ka_he()">卡盒
        </button>
        <button style=" width: 140px;color: white;font-size: 40px;text-align: center;background-color:#b10000;margin:0 1px;text-indent:8px;"
                @click="tong_he()">桶盒
        </button>
        <button style=" width: 140px;color: white;font-size: 40px;text-align: center;background-color:#3bb100;margin:0 1px;text-indent:8px;"
                @click="shu_he()">书盒
        </button>
    </p>
    <br/>
    <p style="text-align: center; ">
        <span><button @click="changeIndex(-1)"
                      style="text-align: center;position: relative;top: -25px;height: 25%; width: 25%;">上一个</button></span>
        <button style="background: #0062CC;color: white;position: relative;top:-25px;" @click="submitIt()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确定样式&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <span><button @click="changeIndex(1)"
                      style="text-align: center;position: relative;top: -25px;height: 25%; width: 25%;">下一个</button></span>
    </p>
</div>
<script>
    // 禁止截屏
    // 监听plusready事件
    document.addEventListener("plusready", function () {
        var activity = plus.android.runtimeMainActivity();
        plus.android.invoke(plus.android.invoke(activity, "getWindow"), "addFlags", 0x00002000);
    }, false);

    vv = new Vue({ //渲染表格
        el: "#app",
        data: {
            baseUrl: base_path,
            selectIndex: 0,
            selectIndex1: -1,
            alcoholList: [], //数据集合
            alcoholListCopy: [],
            alcoholName: localStorage.alcoholName ? localStorage.alcoholName : "",
            info: localStorage.info ? localStorage.info : "",
            boxTypeId: 1,
            showType: 0,
            alcoholListSon: [],
            selectAlcoholIndex: 0,
            tutorialsImage: 1,
            skipTutorials: 0,
        },
        watch: {
            "showType": function (newVal, oldVal) {
                var vm = this;
                if (newVal == 0) {
                    vm.reload_();
                }
                if (newVal == 1) {
                    for (var i = 0; i < vm.alcoholListSon.length; i++) {
                        vm.alcoholListSon[i].header1Style = JSON.parse(vm.alcoholListSon[i].header1Style);
                        vm.alcoholListSon[i].header2Style = JSON.parse(vm.alcoholListSon[i].header2Style);
                    }
                    vm.alcoholList = vm.alcoholListSon;
                }
            },
            tutorialsImage(val) {
                localStorage.tutorialsImage = val;
            },
            "selectIndex": function (newVal, oldVAl) {
                localStorage.selectIndex = newVal;
            }
        },
        created() {
            var vm = this;
            if (null == localStorage.boxTypeId) {
                localStorage.boxTypeId = 1;
            }
            $.post(base_path + "app/alcoholTemplate/findAll", {
                alcoholName: localStorage.alcoholName,
                boxTypeId: localStorage.boxTypeId,
                materialId: localStorage.materialId,
                styleId: localStorage.styleId,
                purposeId: localStorage.purposeId,
            }, function (data) {
                if (data.code == 200) {
                    vm.alcoholList = data.obj;
                    vm.alcoholListCopy = vm.alcoholList;
                    for (var i = 0; i < vm.alcoholList.length; i++) {
                        vm.alcoholList[i].header1Style = JSON.parse(vm.alcoholList[i].header1Style);
                        vm.alcoholList[i].header2Style = JSON.parse(vm.alcoholList[i].header2Style);
                        // vm.alcoholList[i].bodyStyle = JSON.parse(vm.alcoholList[i].bodyStyle);
                    }
                    if (vm.alcoholList[vm.selectIndex]) {
                        if (vm.alcoholList[vm.selectIndex].son) {
                            vm.alcoholListSon = vm.alcoholList[vm.selectIndex].son;
                        }
                    }
                    if (localStorage.selectIndex) {
                        if (localStorage.selectIndex > vm.alcoholListCopy.length) {
                            vm.selectIndex = 0;
                            return;
                        }
                        vm.selectIndex = localStorage.selectIndex;
                    }
                }
            })

        },
        methods: { //方法

            reload_: function () {
                var vm = this;
                $.post(base_path + "app/alcoholTemplate/findAll", {
                    alcoholName: localStorage.alcoholName,
                    boxTypeId: localStorage.boxTypeId,
                    materialId: localStorage.materialId,
                    styleId: localStorage.styleId,
                    purposeId: localStorage.purposeId,
                }, function (data) {
                    if (data.code == 200) {
                        vm.alcoholList = data.obj;
                        for (var i = 0; i < vm.alcoholList.length; i++) {
                            vm.alcoholList[i].header1Style = JSON.parse(vm.alcoholList[i].header1Style);
                            vm.alcoholList[i].header2Style = JSON.parse(vm.alcoholList[i].header2Style);
                            // vm.alcoholList[i].bodyStyle = JSON.parse(vm.alcoholList[i].bodyStyle);
                        }
                        vm.alcoholListSon = vm.alcoholList[vm.selectIndex].son;
                    }
                });
            }
            ,

            submitIt: function () {
                var vm = this;
                localStorage.selectAlcoholIndex = vm.selectAlcoholIndex;
                location.href = "test.html";
            }
            ,

            ka_he: function () {
                localStorage.boxTypeId = 1;
                location.reload();
            }
            ,

            tong_he: function () {
                localStorage.boxTypeId = 2;
                location.reload();
            }
            ,

            shu_he: function () {
                localStorage.boxTypeId = 3;
                location.reload();
            }
            ,

            changeIndex: function (out) {
                var vm = this;
                if (Number(vm.selectIndex) + out < 0) {
                    alert("已经没有更多了");
                    return;
                }
                if (Number(vm.selectIndex) + out >= vm.alcoholListCopy.length) {
                    alert("已经没有更多了");
                    return;
                }
                var i = vm.selectIndex;
                var sum;
                sum = Number(i) + out;
                vm.selectIndex = sum;

                vm.showType = 0;
                vm.selectIndex1 = -1;


                vm.reload_();

            },
            changeIndex1: function (out) {
                var vm = this;
                if (vm.alcoholListCopy[vm.selectIndex].son.length) {
                    if (vm.selectIndex1 + out >= vm.alcoholListCopy[vm.selectIndex].son.length) {
                        vm.selectIndex1 = -1;
                        vm.showType = 0;
                        return;
                    }
                    vm.showType = 1;
                    vm.selectIndex1 = vm.selectIndex1 + out;

                    if (vm.selectIndex1 < 0) {
                        vm.selectIndex1 = 0;
                    }
                }
            }

            ,
            // tutorialsVerification: function () {
            //     var vm = this;
            //     if (vm.tutorialsImage >= 1) {
            //         if (localStorage.tutorials) {
            //             return;
            //         } else {
            //             localStorage.tutorials = 1;
            //             vm.skipTutorials = 1;
            //             return;
            //         }
            //     }
            //     vm.tutorialsImage++;
            // }
        }
    })
    ;
</script>
</body>
</html>
